* {
    margin: 0;
    padding: 0;
}

form {
    background-color: rgb(1, 38, 82);
    color: white;
    padding: 20px 20px;
}

input,
select,
textarea {
    display: block;
    height: 25px;
    width: 300px;
    margin-top: 5px;
    border: none;
    font-size: 12px;
    color: white;
    background-color: rgb(19, 63, 117);
    outline: none
}

input[type="radio"] {
    display: inline-block;
    width: auto;
    height: 16px;
    transform: translateY(20%);
    margin-right: 10px;
}

textarea {
    height: 100px;
}

input[name="agreement"],
label[for="agreement"] {
    display: inline-block;
    width: auto;
}

input[name="agreement"]{
    transform: translateY(30%);
}

input[type="submit"]{
    width: 80px;
    height: 30px;
    margin-top: 10px;
    background-color: rgb(47, 179, 47);
    text-transform: uppercase;   
    color: white; 
    font-weight: 600;
}

input:focus, textarea:focus {
    background-color: rgb(55, 115, 189);
    border: 1px solid grey;
}



